HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Ignore local-only yaml
src/main/resources/application-local.yml

#실제 환경 설정 파일 절대 git에 올리면 안됨
backend/src/main/resources/application.yml
backend/src/main/resources/application-prod.yml

# 예시 파일은 그대로 두기
!backend/src/main/resources/application_example.yml
!backend/src/main/resources/application-prod_example.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

logs/
*.log